.title {
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    text-shadow: 0 0 10px #F0D9E7, 0 0 20px #F0D9E7, 0 0 30px #A239EA, 0 0 40px #A239EA
}

.movieIcon {
    color: #A239EA;
}